<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="logFilesBaseFolder" value="LogFiles" />
    <add key="currentFileName" value="ex120326.log" />
    <add key="noSuchHost" value="*** No such Host name is known. ***" />
    <add key="columnName" value="c-ip" />
    <add key="pleaseWait" value="Please wait, this operation may take a few minutes ..." />
    <add key="dnsSuccess" value="All DNS lookup attempts succeeded." />
    <add key="error" value="Some error has occured." />
  </appSettings>
</configuration>